.v-main .v-btn.blue {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #4f717a;
  background: linear-gradient(1deg, #06303a, #145062);
  color: #fff;
  height: 55px;
  border-radius: 0px;
  text-shadow: 0px 0px 0px #fff;
  opacity: 0.7;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
    text-shadow: 0px 0px 12px #fff;
    box-shadow: 0 5px 10px rgb(0,0,0,0.5);
  }
}


.v-btn.clear {
  font-weight: normal;
  font-size: 16px;
  padding: 0 20px;
  background: linear-gradient(rgba(255,255,255,0.0), rgba(255,255,255,0.0));
  border-radius: 4px;
  color: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.5);
  transition: all 0.3s;
  cursor: pointer;
  line-height: normal;
  box-shadow: none;
  transition: all 0.3s;

  &:hover{
    color: rgba(255,255,255,1);
    background: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.2));
    transition: all 0.3s;
  }
}